
<html>

	<style>

		div {
			text-align: justify;
			text-justify: inter-word;
		}

		h3 {
			text-align: center;
			text-justify: inter-word;
		}

	</style>
	
	<body>

		<div class="page">
 
			<h3>ACTA DE RECEPCI&Oacute;N DE SERVICIOS</h3>
			
			En la Ciudad de Formosa, siendo las 10:00 horas, del día  3 de NOVIEMBRE del año 2020 y con presencia del Director de Obras Públicas Sr. ING. NORBERTO DONATO JOFRÉ, se recepcionan los servicios correspondientes al mes de OCTUBRE de 2020 cuyas características se detallan a continuación y que correspondan al Expediente Nº I-1659/20 Decreto Nº 4885/20
Nombre y Apellido	Prestación	Importe
ZARATE, ALBIO CARLOS	TAREAS TÉCNICAS Y ADMINISTRATIVAS 	$ 15.000,00 
TOTAL	$ 15.000,00
  
Se deja constancia que los servicios que se detallan han sido realizados y controlados a conformidad del responsable que suscribe la presente.



			

			

		</div>

</body>

</html>








