
{% extends "base.html" %}

{% block content%}
	<form action="/listadomonotributista" method="GET">

		<br><br>
		<input id="txtbuscar" name="txtbuscar">
		<br>
		<br>

		<button type="submit">Buscar</button>

		<button type="button" onclick="location.href='/nuevomonotributista';">Nuevo</button>

		<br>
		<br>

		<table style="width:100%">
			{% for resultado in resultados %}
				<tr>
					<td>{{resultado.apellido.upper}}, {{resultado.nombre.upper}}  </td>
					<td><a href="/editarmonotributista/{{resultado.pk}}">Editar</a> </td>  
				</tr>
			{% endfor %}

		  </table>
	</form>
{% endblock %}