

<html>

	<style>

		div {
			text-align: justify;
			text-justify: inter-word;
		}

		h3 {
			text-align: center;
			text-justify: inter-word;
		}

	</style>

	<body>
		<div class="page">
			<br>
			<br>
			<br>
			
		
			<p align="right">RESOLUCION____________________/
			</p>
			
			<p align="right"> EXPEDIENTE {{resultados.expediente.upper}}
			</p>
			
			<p>
				FORMOSA, 
			</p>

			<p>
				VISTO: 
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				El expediente {{resultados.expediente.upper}} donde se solicita aprobación del Certificado de Obras Generales Nº
				{{resultados.expediente}} de la Obra: <b> {{resultados.obra.descripcion.upper}} </b> y;
			</p>
			
			<p>
				<b>CONSIDERANDO:</b>
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Que la obra mencionada ha sido adjudicada por el Ejecutivo mediante Decreto Nº {{resultados.obra.decreto}} a la firma {{resultados.contratista.upper}}
				para su ejecución.
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Que se ha suscrito el Contrato de Obra pertinente entre el Municipalidad y la Contratista.
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Que la Contratista presenta el Certificado de Obras Generales Nº {{resultados.numero}} conforme a lo establecido en el 
				Pliego Licitatorio por un monto de <b> PESOS: {{letramonto}} ($ {{resultados.monto}}).</b>
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Que según la presente documentación se refleja un avance del 100,00 %.
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Que intervino la Asesoría Letrada del Área.
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Que es necesario el dictado del Instrumento legal administrativo pertinente aprobando el Certificado por el monto mencionado;
			</p>
			
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<b>POR ELLO;</b>
			</p>
			<br>
			
			<p align="center">
				<b>
				LA SECRETARÍA DE OBRAS PÚBLICAS
				<br>
				DE LA MUNICIPALIDAD DE LA CIUDAD DE FORMOSA
				<br>
				R E S U E L V E:
				</b>
			</p>
			<br>
			
			<p>
				<b>ARTICULO 1º): APRUEBASE,</b> el Certificado de  Obras  Generales Nº {{resultados.numero}} (Expediente {{resultados.expediente}})
				por el monto de <b> PESOS: {{letramonto}} ($ {{resultados.monto}}),</b> presentado por la firma {{resultados.contratista.descripcion.upper}}
				, quien fuera adjudicataria de la Obra: <b> “{{resultados.obra.descripcion.upper}}" </b>, mediante Decreto Nº {{resultados.obra.decreto}} –
				{{resultados.obra.tipo_licitacion.upper}} &nbsp; {{resultados.obra.numero_licitacion}}
			</p>
			
			<p>
				<b>ARTICULO 2º): REFRENDE,</b> la presente Resolución el Señor Director de Obras Públicas <b> ING. NORBERTO DONATO JOFRE.</b>
			</p>
			
			<p>
				<b>ARTICULO 3º): REGÍSTRESE,</b> Publíquese tomen nota: Dirección de Obras Públicas, Secretaría de Hacienda (Contaduría General y Tesorería). ARCHÍVESE.
			</p>




                          










		
		
		
		
		

		

		

		

		


		

		

		</div>

	</body>

</html>